name: 42_colors

services:
  postgres:
    image: postgis/postgis:16-3.5
    platform: linux/amd64
    environment:
      POSTGRES_DB: 42colors
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5434:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure:3

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    restart: on-failure:3
    command: redis-server --appendonly yes --appendfsync everysec --auto-aof-rewrite-percentage 100

volumes:
  pgdata:
  redis_data:
